{# ссылка на главный шаблон #}
{% extends 'index.html' %}

{# обозначение блока который вставится в главный шаблон #}
{% block content %}
<h1>Страница "Контакты"</h1>
хакспейс ;) 
+7 921 9314159
{% endblock %}